
<div class="container-fluid" id="container">
		<div class="form-container sign-in-container">
				<div class="container-logo"> 
						<div class="container-fluid-2">
						  <img width="150"style="padding:20px; margin-bottom:-10%;" src="../assets/ebay logos/ecga.png" [routerLink]="['']" routerLinkActive="active">
						  <h3 style="color: black; margin-left:25%;">Inicio</h3>
						</div>
					  </div>
				<form #formRegister="ngForm" (ngSubmit)="registerUser(email,password,name)">
					<h1>Crea tu cuenta</h1>
					<div class="social-container">  
						<a class="social"><i class="fab fa-facebook-f" (click)="onLoginFacebook()"></i></a>
						<a class="social"><i class="fab fa-google-plus-g" (click)="onLoginGoogle()"></i></a>
					</div>
					<span>O usa tu correo para registrate</span>
					<input [(ngModel)]="name" type="text" placeholder="Nombre" />
					<input [(ngModel)]="email" name="email" type="email" placeholder="Email" />
					<input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" />
					<button type="submit ">Registrate</button>
				</form>
		  </div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>¡Bienvenido!</h1>
				<p>Para permanecer con nosotros porfavor ingresa tu informacion personal</p>
				<button class="ghost" id="signIn" [routerLink]="['/login']" routerLinkActive="active">Ingresa</button>
			</div>
		</div>
	</div>
</div>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->