
<body class="back-nav">
    <div class="navbar">
  
        <div class="container-logo"> 
            <img width="150"style="padding:20px; margin-bottom:-10%;" src="../assets/ebay logos/ecga.png" [routerLink]="['']" routerLinkActive="active">
            <h3 style="color: rgb(255, 255, 255); margin-left:25%;">Inicio</h3>
        </div>
        
<div class="logo" style="text-align:center">
    
    
  </div>
  <div class="container-crud">
      <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-shopping-cart fa-w-20 fa-2x" [routerLink]="['/cart']" routerLinkActive="active"></i></a>
      <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-users fa-w-20 fa-3x" [routerLink]="['/login']" routerLinkActive="active"></i></a>
  </div>

</div>
</body>