
<body class="back-nav">
    <div class="navbar">
  
        <div class="container-logo"> 
            <img width="150"style="padding:20px; margin-bottom:-10%;" src="../assets/ebay logos/ecga.png" [routerLink]="['']" routerLinkActive="active">
            <h3 style="color: rgb(255, 255, 255); margin-left:25%;">Inicio</h3>
        </div>
        
<div class="logo" style="text-align:center">
    
    
  </div>
  <div class="container-crud">
      <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-shopping-cart fa-w-20 fa-2x" [routerLink]="['/cart']" routerLinkActive="active"></i></a>
      <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-users fa-w-20 fa-3x" [routerLink]="['/login']" routerLinkActive="active"></i></a>
  </div>

</div>
</body>
<section>
    <div *ngFor="let info of projects">
    <div class="background">
        <div class="container">
            <div class="screen">
            <div class="screen-body">
                <div class="screen-body-item left">
                <div class="app-title">
                    <img src="{{info.img}}" width="200" style="border-radius: 15px; border:1px solid #9448e0;box-shadow:0 0 0 1px #9448e0;">
                </div>
                </div>
                <div class="screen-body-item">
                <div class="app-form">
                    <div class="app-title">
                        <span>{{info.titulo}}</span>
                    </div>
                    <div class="app-title" style="color: white;">
                        <span>{{info.modelo}}</span>
                    </div>
                    <div class="app-title" style="color: white;">
                        <span>${{info.precio}} MXN</span>
                    </div>
                    <div class="app-form-group buttons">
                            <button class="app-form-button" (click)="OnDelCart(info.Product_id)">Eliminar del carrito</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>