

<body class="back-nav">
        <div class="navbar">
          <div class="container-logo"> 
            <img width="150"style="padding:20px; margin-bottom:-10%;" src="../assets/ebay logos/ecga.png" [routerLink]="['']" routerLinkActive="active">
            <h3 style="color: rgb(255, 255, 255); margin-left:25%;">Inicio</h3>
        </div>
            
      <div class="logo" *ngIf="logged">
      <div class="avatar" *ngIf="user.photoUrl">
        <li class="icon-dashboard btn" (click)="onLogout()" [routerLink]="['/home']" routerLinkActive="active"><img [src]="user.photoUrl" /></li>
      </div>
      <li class="icon-dashboard btn" (click)="onLogout()" [routerLink]="['/home']" routerLinkActive="active"><span style="color: rgb(255, 255, 255);margin-bottom:-15%;margin-left:23%;">Desconectar</span></li>
      
      </div>  
      
      <div class="container-crud" >
          <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-shopping-cart fa-w-20 fa-2x" [routerLink]="['/cart']" routerLinkActive="active"></i></a>
          <div *ngIf="logged; then thenBlock else elseBlock"></div>
          <ng-template #elseBlock>
            <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-users fa-w-20 fa-3x" [routerLink]="['/login']" routerLinkActive="active"></i></a>
          </ng-template>
          <ng-template #thenBlock>
          </ng-template>
      </div>
      
      </div>
      
      
      </body>
      
      <!-- 
      ------
      <div class="container-mid">
          <img width="150"style="padding:20px; margin-left:25%;" src="../assets/ebay logos/developersprogrammember_vert.png">
      </div>
      <div class="container-mid-inv">
          <img width="200"style="padding:20px; margin-left:20%; margin-top:10%;" src="../assets/ebay logos/mercado-libre.jpg">
      </div>
      
      
      ------------------------------ -->
      
      <section id="resultsML" class="conainer-mid">
      
      <div class="back" style="background-color: #3e3e3f;">
        <div class="container">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-2 container" style="margin-left: -15%;">
                    <div class="container-categorias-list " [routerLink]="['/armado']" routerLinkActive="active"  >
                      <div class="container-inside-list">
                        <div style="color: white;">Marca del Procesador</div>
                      </div>
                    </div>
                    <div class="container-categorias-list " [routerLink]="['/armado']" routerLinkActive="active"  >
                      <div class="container-inside-list">
                        <div style="color: white;">Procesador</div>
                      </div>
                    </div>
                    <div class="container-categorias-list " [routerLink]="['/armado']" routerLinkActive="active"  >
                        <div class="container-inside-list">
                          <div style="color: white;">Tarjeta Madre</div>
                        </div>
                      </div>
                      <div class="container-categorias-list " [routerLink]="['/ram']" routerLinkActive="active"  >
                        <div class="container-inside-list">
                          <div style="color: white;">Memoria Ram</div>
                        </div>
                      </div>
                      <div class="container-categorias-list" [routerLink]="['/hdd']" routerLinkActive="active"   >
                        <div class="container-inside-list">
                          <div style="color: white;">Almacenamiento</div>
                        </div>
                      </div>
                      <div class="container-categorias " [routerLink]="['/gddr']" routerLinkActive="active" style="margin-top: -20.5%;" >
                          <div class="container-inside">
                            <div style="color: white;">Tarjeta Grafica</div>
                          </div>
                        </div>
                        <div class="container-categorias-list " [routerLink]="['/case']" routerLinkActive="active"  >
                          <div class="container-inside-list">
                            <div style="color: white;">Gabinete</div>
                          </div>
                        </div>
                        <div class="container-categorias-list " [routerLink]="['/power']" routerLinkActive="active"  >
                          <div class="container-inside-list">
                            <div style="color: white;">Fuente de Poder</div>
                          </div>
                        </div>
                        <div class="container-categorias-list " [routerLink]="['/resumen']" routerLinkActive="active"  >
                            <div class="container-inside-list">
                              <div style="color: white;">Resumen</div>
                            </div>
                          </div>
                </div>
      <!-- ------------------------------------------ -->
      <div class="row col-md-11" style="padding-left:5%;">
        <table class="table table-hover" style="margin-left: 20%;">
            <thead>
              <tr>
                <th scope="col" style="color: white;">Marca</th>
                <th scope="col" style="color: white;">Modelo</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <td><div class="dropdown">
                <select #selectMarca    id="selectMarca"  (change)="cambiarMarca(selectMarca.value)"  class="ml-3 custom-select">
                    <option value="0">Seleccione</option>
                    <option value="ATI" >ATI </option>
                    <option value="NVIDIA" >NVIDIA </option>
                </select>
              </div></td>
              <div *ngIf="ATI; then thenBlock else elseBlock"></div>
                <ng-template #elseBlock>
                        
                </ng-template>
                <ng-template #thenBlock>
                    <td><div class="dropdown">
                            <select #selectPrioridad    id="selectPrioridad"  (change)="cambiarTipo(selectPrioridad.value)"  class="ml-3 custom-select">
                                <option value="">Seleccione</option>
                                <option value="7000" >7000 </option>
                                <option value="7500 AIW" >7500 AIW </option>
                                <option value="8500" >8500 </option>
                                <option value="8500 AIW" >8500 AIW </option>
                                <option value="8500 LE" >8500 LE </option>
                                <option value="9000" >9000 </option>
                                <option value="9000 Pro" >9000 Pro </option>
                                <option value="9100" >9100 </option>
                                <option value="9200" >9200 </option>
                                <option value="9200 B3" >9200 B3 </option>
                                <option value="9200 LE" >9200 LE </option>
                                <option value="9200 SE" >9200 SE </option>
                                <option value="9250" >9250 </option>
                                <option value="9250 VIVO" >9250 VIVO </option>
                                <option value="9500 Non-Pro" >9500 Non-Pro </option>
                                <option value="9500 Pro" >9500 Pro </option>
                                <option value="9550" >9550 </option>
                                <option value="9550 GE" >9550 GE </option>
                                <option value="9550 SE" >9550 SE </option>
                                <option value="9550 VIVO" >9550 VIVO </option>
                                <option value="9550 XT" >9550 XT </option>
                                <option value="9600" >9600 </option>
                                <option value="9600 AIW" >9600 AIW </option>
                                <option value="9600 AIW XT" >9600 AIW XT </option>
                                <option value="9600 EZ" >9600 EZ </option>
                                <option value="9600 LE" >9600 LE </option>
                                <option value="9600 Non-Pro" >9600 Non-Pro </option>
                                <option value="9600 Pro" >9600 Pro </option>
                                <option value="9600 Pro AIW" >9600 Pro AIW </option>
                                <option value="9600 Pro Mobility" >9600 Pro Mobility </option>
                                <option value="9600 Pro VIVO" >9600 Pro VIVO </option>
                                <option value="9600 SE" >9600 SE </option>
                                <option value="9600 SE VIVO" >9600 SE VIVO </option>
                                <option value="9600 TX" >9600 TX </option>
                                <option value="9600 VIVO" >9600 VIVO </option>
                                <option value="9600 XT" >9600 XT </option>
                                <option value="9600 XT VIVO" >9600 XT VIVO </option>
                                <option value="9700 AIW" >9700 AIW </option>
                                <option value="9700 Non-Pro" >9700 Non-Pro </option>
                                <option value="9700 Pro" >9700 Pro </option>
                                <option value="9700 Pro AIW" >9700 Pro AIW </option>
                                <option value="9700 TX" >9700 TX </option>
                                <option value="9800 LE" >9800 LE </option>
                                <option value="9800 Non-Pro" >9800 Non-Pro </option>
                                <option value="9800 Pro" >9800 Pro </option>
                                <option value="9800 Pro AIW" >9800 Pro AIW </option>
                                <option value="9800 Pro M" >9800 Pro M </option>
                                <option value="9800 Pro MAC" >9800 Pro MAC </option>
                                <option value="9800 Pro VIVO" >9800 Pro VIVO </option>
                                <option value="9800 SE" >9800 SE </option>
                                <option value="9800 SE AIW" >9800 SE AIW </option>
                                <option value="9800 XL" >9800 XL </option>
                                <option value="9800 XT" >9800 XT </option>
                                <option value="9800 XXL" >9800 XXL </option>
                                <option value="AIW 2006" >AIW 2006 </option>
                                <option value="FireGL 5100" >FireGL 5100 </option>
                                <option value="FireGL 7100" >FireGL 7100 </option>
                                <option value="FireGL 8800" >FireGL 8800 </option>
                                <option value="FireGL T2" >FireGL T2 </option>
                                <option value="FireGL V3200" >FireGL V3200 </option>
                                <option value="FireGL V5600" >FireGL V5600 </option>
                                <option value="FireGL V7200" >FireGL V7200 </option>
                                <option value="FireGL V7300" >FireGL V7300 </option>
                                <option value="FireGL V8650" >FireGL V8650 </option>
                                <option value="FireGL X1" >FireGL X1 </option>
                                <option value="FireGL X2" >FireGL X2 </option>
                                <option value="FireGL X3" >FireGL X3 </option>
                                <option value="HD 2400" >HD 2400 </option>
                                <option value="HD 2400 Pro" >HD 2400 Pro </option>
                                <option value="HD 2400 XT" >HD 2400 XT </option>
                                <option value="HD 2400 XT Mobility" >HD 2400 XT Mobility </option>
                                <option value="HD 2600 Mobility" >HD 2600 Mobility </option>
                                <option value="HD 2600 Pro" >HD 2600 Pro </option>
                                <option value="HD 2600 XT" >HD 2600 XT </option>
                                <option value="HD 2600 XT AGP" >HD 2600 XT AGP </option>
                                <option value="HD 2600 XT Mobility" >HD 2600 XT Mobility </option>
                                <option value="HD 2900 GT" >HD 2900 GT </option>
                                <option value="HD 2900 Pro" >HD 2900 Pro </option>
                                <option value="HD 2900 XT" >HD 2900 XT </option>
                                <option value="HD 3400" >HD 3400 </option>
                                <option value="HD 3450" >HD 3450 </option>
                                <option value="HD 3470 Mobility" >HD 3470 Mobility </option>
                                <option value="HD 3650" >HD 3650 </option>
                                <option value="HD 3650 Mobility" >HD 3650 Mobility </option>
                                <option value="HD 3690" >HD 3690 </option>
                                <option value="HD 3850" >HD 3850 </option>
                                <option value="HD 3850 AGP" >HD 3850 AGP </option>
                                <option value="HD 3850 X2" >HD 3850 X2 </option>
                                <option value="HD 3870" >HD 3870 </option>
                                <option value="HD 3870 X2" >HD 3870 X2 </option>
                                <option value="HD 3870 X2 Mobility" >HD 3870 X2 Mobility </option>
                                <option value="HD 4350" >HD 4350 </option>
                                <option value="HD 4550" >HD 4550 </option>
                                <option value="HD 4570 Mobility" >HD 4570 Mobility </option>
                                <option value="HD 4650" >HD 4650 </option>
                                <option value="HD 4650 AGP" >HD 4650 AGP </option>
                                <option value="HD 4650 Mobility" >HD 4650 Mobility </option>
                                <option value="HD 4670" >HD 4670 </option>
                                <option value="HD 4670 Mobility" >HD 4670 Mobility </option>
                                <option value="HD 4730" >HD 4730 </option>
                                <option value="HD 4770" >HD 4770 </option>
                                <option value="HD 4830" >HD 4830 </option>
                                <option value="HD 4850" >HD 4850 </option>
                                <option value="HD 4850 Mobility" >HD 4850 Mobility </option>
                                <option value="HD 4850 X2" >HD 4850 X2 </option>
                                <option value="HD 4860" >HD 4860 </option>
                                <option value="HD 4870" >HD 4870 </option>
                                <option value="HD 4870 Mobility" >HD 4870 Mobility </option>
                                <option value="HD 4870 X2 Master" >HD 4870 X2 Master </option>
                                <option value="HD 4870 X2 Slave" >HD 4870 X2 Slave </option>
                                <option value="HD 4890" >HD 4890 </option>
                                <option value="X1300 Non-Pro" >X1300 Non-Pro </option>
                                <option value="X1300 Pro" >X1300 Pro </option>
                                <option value="X1550" >X1550 </option>
                                <option value="X1600 Pro" >X1600 Pro </option>
                                <option value="X1600 XT" >X1600 XT </option>
                                <option value="X1650 Pro" >X1650 Pro </option>
                                <option value="X1650 XT" >X1650 XT </option>
                                <option value="X1800 Crossfire" >X1800 Crossfire </option>
                                <option value="X1800 GTO" >X1800 GTO </option>
                                <option value="X1800 XL" >X1800 XL </option>
                                <option value="X1800 XT" >X1800 XT </option>
                                <option value="X1800 XT PE" >X1800 XT PE </option>
                                <option value="X1900 AIW" >X1900 AIW </option>
                                <option value="X1900 Crossfire" >X1900 Crossfire </option>
                                <option value="X1900 GT" >X1900 GT </option>
                                <option value="X1900 XT" >X1900 XT </option>
                                <option value="X1900 XTX" >X1900 XTX </option>
                                <option value="X1950 CrossFire" >X1950 CrossFire </option>
                                <option value="X1950 GT" >X1950 GT </option>
                                <option value="X1950 Pro" >X1950 Pro </option>
                                <option value="X1950 XT" >X1950 XT </option>
                                <option value="X1950 XTX" >X1950 XTX </option>
                                <option value="X300 Mobility" >X300 Mobility </option>
                                <option value="X300 SE" >X300 SE </option>
                                <option value="X550" >X550 </option>
                                <option value="X600" >X600 </option>
                                <option value="X600 AIW" >X600 AIW </option>
                                <option value="X600 Pro" >X600 Pro </option>
                                <option value="X600 XT" >X600 XT </option>
                                <option value="X700" >X700 </option>
                                <option value="X700 Non-Pro" >X700 Non-Pro </option>
                                <option value="X700 Pro" >X700 Pro </option>
                                <option value="X700 Pro AGP" >X700 Pro AGP </option>
                                <option value="X700 SE" >X700 SE </option>
                                <option value="X700 XT" >X700 XT </option>
                                <option value="X800" >X800 </option>
                                <option value="X800 AIW" >X800 AIW </option>
                                <option value="X800 GT" >X800 GT </option>
                                <option value="X800 GTO" >X800 GTO </option>
                                <option value="X800 GTO VIVO" >X800 GTO VIVO </option>
                                <option value="X800 GTO²" >X800 GTO² </option>
                                <option value="X800 Non-Pro" >X800 Non-Pro </option>
                                <option value="X800 Non-Pro VIVO" >X800 Non-Pro VIVO </option>
                                <option value="X800 Pro" >X800 Pro </option>
                                <option value="X800 Pro VIVO" >X800 Pro VIVO </option>
                                <option value="X800 Pro VIVO 16P" >X800 Pro VIVO 16P </option>
                                <option value="X800 SE" >X800 SE </option>
                                <option value="X800 VE AIW" >X800 VE AIW </option>
                                <option value="X800 XL" >X800 XL </option>
                                <option value="X800 XL AIW" >X800 XL AIW </option>
                                <option value="X800 XL VIVO" >X800 XL VIVO </option>
                                <option value="X800 XT" >X800 XT </option>
                                <option value="X800 XT AIW" >X800 XT AIW </option>
                                <option value="X800 XT PE" >X800 XT PE </option>
                                <option value="X850 Crossfire" >X850 Crossfire </option>
                                <option value="X850 Pro" >X850 Pro </option>
                                <option value="X850 Pro VIVO" >X850 Pro VIVO </option>
                                <option value="X850 XT" >X850 XT </option>
                                <option value="X850 XT Non-VIVO" >X850 XT Non-VIVO </option>
                                <option value="X850 XT PE" >X850 XT PE </option>
                            </select>
                    </div></td>
                </ng-template>

                <div *ngIf="NVIDIA; then thenBlockNV else elseBlockNV"></div>
                <ng-template #elseBlockNV>
                        
                </ng-template>
                <ng-template #thenBlockNV>
                    <td><div class="dropdown">
                        <select #selectMarca    id="selectMarca"  (change)="cambiarMarca(selectMarca.value)"  class="ml-3 custom-select">
                            <option value="0">Seleccione</option>
                            <option value="6150 Go" >6150 Go </option>
                            <option value="6200" >6200 </option>
                            <option value="6200 Go" >6200 Go </option>
                            <option value="6200 LE" >6200 LE </option>
                            <option value="6200 SE" >6200 SE </option>
                            <option value="6200 TC" >6200 TC </option>
                            <option value="6400 Go" >6400 Go </option>
                            <option value="6600" >6600 </option>
                            <option value="6600 Go" >6600 Go </option>
                            <option value="6600 GT" >6600 GT </option>
                            <option value="6600 LE" >6600 LE </option>
                            <option value="6700 XL" >6700 XL </option>
                            <option value="6800" >6800 </option>
                            <option value="6800 Go" >6800 Go </option>
                            <option value="6800 GS" >6800 GS </option>
                            <option value="6800 GT" >6800 GT </option>
                            <option value="6800 LE" >6800 LE </option>
                            <option value="6800 Ultra" >6800 Ultra </option>
                            <option value="6800 XT" >6800 XT </option>
                            <option value="7050 PV" >7050 PV </option>
                            <option value="7100 GS" >7100 GS </option>
                            <option value="7200 Go" >7200 Go </option>
                            <option value="7200 GS" >7200 GS </option>
                            <option value="7300 Go" >7300 Go </option>
                            <option value="7300 GS" >7300 GS </option>
                            <option value="7300 GT" >7300 GT </option>
                            <option value="7300 LE" >7300 LE </option>
                            <option value="7300 SE" >7300 SE </option>
                            <option value="7400 Go" >7400 Go </option>
                            <option value="7500 GT" >7500 GT </option>
                            <option value="7500 LE" >7500 LE </option>
                            <option value="7600 Go" >7600 Go </option>
                            <option value="7600 GS" >7600 GS </option>
                            <option value="7600 GT" >7600 GT </option>
                            <option value="7650 GS" >7650 GS </option>
                            <option value="7700 Go" >7700 Go </option>
                            <option value="7800 GS" >7800 GS </option>
                            <option value="7800 GT" >7800 GT </option>
                            <option value="7800 GTX" >7800 GTX </option>
                            <option value="7900 GS" >7900 GS </option>
                            <option value="7900 GS Go" >7900 GS Go </option>
                            <option value="7900 GSX Go" >7900 GSX Go </option>
                            <option value="7900 GT" >7900 GT </option>
                            <option value="7900 GTO" >7900 GTO </option>
                            <option value="7900 GTX" >7900 GTX </option>
                            <option value="7900 GTX Go" >7900 GTX Go </option>
                            <option value="7950 GT" >7950 GT </option>
                            <option value="7950 GTX" >7950 GTX </option>
                            <option value="7950 GTX Go" >7950 GTX Go </option>
                            <option value="7950 GX2" >7950 GX2 </option>
                            <option value="8300 GS" >8300 GS </option>
                            <option value="8400 GS" >8400 GS </option>
                            <option value="8400M G" >8400M G </option>
                            <option value="8400M GS" >8400M GS </option>
                            <option value="8500 GT" >8500 GT </option>
                            <option value="8600" >8600 </option>
                            <option value="8600 GS" >8600 GS </option>
                            <option value="8600 GT" >8600 GT </option>
                            <option value="8600 GTS" >8600 GTS </option>
                            <option value="8600M GS" >8600M GS </option>
                            <option value="8600M GT" >8600M GT </option>
                            <option value="8700M GT" >8700M GT </option>
                            <option value="8800 GS" >8800 GS </option>
                            <option value="8800 GT" >8800 GT </option>
                            <option value="8800 GTS" >8800 GTS </option>
                            <option value="8800 GTX" >8800 GTX </option>
                            <option value="8800 Ultra" >8800 Ultra </option>
                            <option value="8800M GTS" >8800M GTS </option>
                            <option value="8800M GTX" >8800M GTX </option>
                            <option value="9300M G" >9300M G </option>
                            <option value="9300M GS" >9300M GS </option>
                            <option value="9400 GT" >9400 GT </option>
                            <option value="9500 GS" >9500 GS </option>
                            <option value="9500 GT" >9500 GT </option>
                            <option value="9500M GS" >9500M GS </option>
                            <option value="9600 GSO" >9600 GSO </option>
                            <option value="9600 GT" >9600 GT </option>
                            <option value="9600M GS" >9600M GS </option>
                            <option value="9600M GT" >9600M GT </option>
                            <option value="9650M GT" >9650M GT </option>
                            <option value="9700M GT" >9700M GT </option>
                            <option value="9800 GT" >9800 GT </option>
                            <option value="9800 GTX" >9800 GTX </option>
                            <option value="9800 GTX+" >9800 GTX+ </option>
                            <option value="9800 GX2" >9800 GX2 </option>
                            <option value="9800GT" >9800GT </option>
                            <option value="9800M GT" >9800M GT </option>
                            <option value="9800M GTS" >9800M GTS </option>
                            <option value="Asus" >Asus </option>
                            <option value="G 205" >G 205 </option>
                            <option value="G 210" >G 210 </option>
                            <option value="G 310" >G 310 </option>
                            <option value="Grid K1" >Grid K1 </option>
                            <option value="GT 1030" >GT 1030 </option>
                            <option value="GT 120" >GT 120 </option>
                            <option value="GT 130" >GT 130 </option>
                            <option value="GT 130M" >GT 130M </option>
                            <option value="GT 220" >GT 220 </option>
                            <option value="GT 230" >GT 230 </option>
                            <option value="GT 240" >GT 240 </option>
                            <option value="GT 240M" >GT 240M </option>
                            <option value="GT 320" >GT 320 </option>
                            <option value="GT 330" >GT 330 </option>
                            <option value="GT 430" >GT 430 </option>
                            <option value="GT 440" >GT 440 </option>
                            <option value="GT 520" >GT 520 </option>
                            <option value="GT 530" >GT 530 </option>
                            <option value="GT 610" >GT 610 </option>
                            <option value="GT 620" >GT 620 </option>
                            <option value="GT 630" >GT 630 </option>
                            <option value="GT 640" >GT 640 </option>
                            <option value="GT 710" >GT 710 </option>
                            <option value="GT 720" >GT 720 </option>
                            <option value="GT 730" >GT 730 </option>
                            <option value="GT 740" >GT 740 </option>
                            <option value="GTS 240" >GTS 240 </option>
                            <option value="GTS 250" >GTS 250 </option>
                            <option value="GTS 250M" >GTS 250M </option>
                            <option value="GTS 360M" >GTS 360M </option>
                            <option value="GTS 450" >GTS 450 </option>
                            <option value="GTX 1050" >GTX 1050 </option>
                            <option value="GTX 1050 Ti" >GTX 1050 Ti </option>
                            <option value="GTX 1060" >GTX 1060 </option>
                            <option value="GTX 1060 3GB" >GTX 1060 3GB </option>
                            <option value="GTX 1070" >GTX 1070 </option>
                            <option value="GTX 1070 Mobile" >GTX 1070 Mobile </option>
                            <option value="GTX 1070 Ti" >GTX 1070 Ti </option>
                            <option value="GTX 1080" >GTX 1080 </option>
                            <option value="GTX 1080 Mobile" >GTX 1080 Mobile </option>
                            <option value="GTX 1080 Ti" >GTX 1080 Ti </option>
                            <option value="GTX 1650" >GTX 1650 </option>
                            <option value="GTX 1650 Super" >GTX 1650 Super </option>
                            <option value="GTX 1660" >GTX 1660 </option>
                            <option value="GTX 1660 Super" >GTX 1660 Super </option>
                            <option value="GTX 1660 Ti" >GTX 1660 Ti </option>
                            <option value="GTX 1660 Ti Mobile" >GTX 1660 Ti Mobile </option>
                            <option value="GTX 2070" >GTX 2070 </option>
                            <option value="GTX 260" >GTX 260 </option>
                            <option value="GTX 260M" >GTX 260M </option>
                            <option value="GTX 275" >GTX 275 </option>
                            <option value="GTX 280" >GTX 280 </option>
                            <option value="GTX 280M" >GTX 280M </option>
                            <option value="GTX 285" >GTX 285 </option>
                            <option value="GTX 295" >GTX 295 </option>
                            <option value="GTX 460" >GTX 460 </option>
                            <option value="GTX 460 SE" >GTX 460 SE </option>
                            <option value="GTX 460 v2" >GTX 460 v2 </option>
                            <option value="GTX 460M" >GTX 460M </option>
                            <option value="GTX 465" >GTX 465 </option>
                            <option value="GTX 470" >GTX 470 </option>
                            <option value="GTX 480" >GTX 480 </option>
                            <option value="GTX 480M" >GTX 480M </option>
                            <option value="GTX 485M" >GTX 485M </option>
                            <option value="GTX 550 Ti" >GTX 550 Ti </option>
                            <option value="GTX 555" >GTX 555 </option>
                            <option value="GTX 560" >GTX 560 </option>
                            <option value="GTX 560 SE" >GTX 560 SE </option>
                            <option value="GTX 560 Ti" >GTX 560 Ti </option>
                            <option value="GTX 560 Ti 448" >GTX 560 Ti 448 </option>
                            <option value="GTX 560M" >GTX 560M </option>
                            <option value="GTX 570" >GTX 570 </option>
                            <option value="GTX 570M" >GTX 570M </option>
                            <option value="GTX 580" >GTX 580 </option>
                            <option value="GTX 580M" >GTX 580M </option>
                            <option value="GTX 590" >GTX 590 </option>
                            <option value="GTX 650" >GTX 650 </option>
                            <option value="GTX 650 Ti" >GTX 650 Ti </option>
                            <option value="GTX 650 Ti Boost" >GTX 650 Ti Boost </option>
                            <option value="GTX 660" >GTX 660 </option>
                            <option value="GTX 660 Ti" >GTX 660 Ti </option>
                            <option value="GTX 6600" >GTX 6600 </option>
                            <option value="GTX 660M" >GTX 660M </option>
                            <option value="GTX 670" >GTX 670 </option>
                            <option value="GTX 670M" >GTX 670M </option>
                            <option value="GTX 675M" >GTX 675M </option>
                            <option value="GTX 675MX" >GTX 675MX </option>
                            <option value="GTX 680" >GTX 680 </option>
                            <option value="GTX 680M" >GTX 680M </option>
                            <option value="GTX 690" >GTX 690 </option>
                            <option value="GTX 750" >GTX 750 </option>
                            <option value="GTX 750 Ti" >GTX 750 Ti </option>
                            <option value="GTX 760" >GTX 760 </option>
                            <option value="GTX 760 Ti OEM" >GTX 760 Ti OEM </option>
                            <option value="GTX 760M" >GTX 760M </option>
                            <option value="GTX 765M" >GTX 765M </option>
                            <option value="GTX 770" >GTX 770 </option>
                            <option value="GTX 770M" >GTX 770M </option>
                            <option value="GTX 780" >GTX 780 </option>
                            <option value="GTX 780 Ti" >GTX 780 Ti </option>
                            <option value="GTX 780M" >GTX 780M </option>
                            <option value="GTX 870M" >GTX 870M </option>
                            <option value="GTX 880M" >GTX 880M </option>
                            <option value="GTX 950" >GTX 950 </option>
                            <option value="GTX 960" >GTX 960 </option>
                            <option value="GTX 965M" >GTX 965M </option>
                            <option value="GTX 970" >GTX 970 </option>
                            <option value="GTX 970M" >GTX 970M </option>
                            <option value="GTX 980" >GTX 980 </option>
                            <option value="GTX 980 Ti" >GTX 980 Ti </option>
                            <option value="GTX 980M" >GTX 980M </option>
                            <option value="GTX TITAN" >GTX TITAN </option>
                            <option value="GTX Titan Black" >GTX Titan Black </option>
                            <option value="GTX Titan X" >GTX Titan X </option>
                            <option value="GTX TITAN Z" >GTX TITAN Z </option>
                            <option value="GTX765M" >GTX765M </option>
                            <option value="ION2" >ION2 </option>
                            <option value="NVIDIA 7400 go" >NVIDIA 7400 go </option>
                            <option value="Quadro 1000M" >Quadro 1000M </option>
                            <option value="Quadro 2000" >Quadro 2000 </option>
                            <option value="Quadro 2000M" >Quadro 2000M </option>
                            <option value="Quadro 4000" >Quadro 4000 </option>
                            <option value="Quadro 600" >Quadro 600 </option>
                            <option value="Quadro CX" >Quadro CX </option>
                            <option value="Quadro FX 1500M" >Quadro FX 1500M </option>
                            <option value="Quadro FX 1600M" >Quadro FX 1600M </option>
                            <option value="Quadro FX 1700" >Quadro FX 1700 </option>
                            <option value="Quadro FX 1800" >Quadro FX 1800 </option>
                            <option value="Quadro FX 1800M" >Quadro FX 1800M </option>
                            <option value="Quadro FX 2500M" >Quadro FX 2500M </option>
                            <option value="Quadro FX 2700M" >Quadro FX 2700M </option>
                            <option value="Quadro FX 2800M" >Quadro FX 2800M </option>
                            <option value="Quadro FX 3450" >Quadro FX 3450 </option>
                            <option value="Quadro FX 3500" >Quadro FX 3500 </option>
                            <option value="Quadro FX 3500M" >Quadro FX 3500M </option>
                            <option value="Quadro FX 350M" >Quadro FX 350M </option>
                            <option value="Quadro FX 3600M" >Quadro FX 3600M </option>
                            <option value="Quadro FX 370" >Quadro FX 370 </option>
                            <option value="Quadro FX 3700M" >Quadro FX 3700M </option>
                            <option value="Quadro FX 3800" >Quadro FX 3800 </option>
                            <option value="Quadro FX 4500" >Quadro FX 4500 </option>
                            <option value="Quadro FX 4600" >Quadro FX 4600 </option>
                            <option value="Quadro FX 5200M" >Quadro FX 5200M </option>
                            <option value="Quadro FX 5500" >Quadro FX 5500 </option>
                            <option value="Quadro FX 560" >Quadro FX 560 </option>
                            <option value="Quadro FX 5600" >Quadro FX 5600 </option>
                            <option value="Quadro FX 570" >Quadro FX 570 </option>
                            <option value="Quadro FX 580" >Quadro FX 580 </option>
                            <option value="Quadro FX 770M" >Quadro FX 770M </option>
                            <option value="Quadro FX 880M" >Quadro FX 880M </option>
                            <option value="Quadro FX3700" >Quadro FX3700 </option>
                            <option value="Quadro GP100" >Quadro GP100 </option>
                            <option value="Quadro GV100" >Quadro GV100 </option>
                            <option value="Quadro K1000M" >Quadro K1000M </option>
                            <option value="Quadro K1100M" >Quadro K1100M </option>
                            <option value="Quadro K2000" >Quadro K2000 </option>
                            <option value="Quadro K2000M" >Quadro K2000M </option>
                            <option value="Quadro K2100M" >Quadro K2100M </option>
                            <option value="Quadro K3000M" >Quadro K3000M </option>
                            <option value="Quadro K4000" >Quadro K4000 </option>
                            <option value="Quadro K5000" >Quadro K5000 </option>
                            <option value="Quadro K5100M" >Quadro K5100M </option>
                            <option value="Quadro K5200" >Quadro K5200 </option>
                            <option value="Quadro K600" >Quadro K600 </option>
                            <option value="Quadro K6000" >Quadro K6000 </option>
                            <option value="Quadro M1200" >Quadro M1200 </option>
                            <option value="Quadro M2200" >Quadro M2200 </option>
                            <option value="Quadro NVS 110M" >Quadro NVS 110M </option>
                            <option value="Quadro NVS 120M" >Quadro NVS 120M </option>
                            <option value="Quadro NVS 285" >Quadro NVS 285 </option>
                            <option value="Quadro NVS 295" >Quadro NVS 295 </option>
                            <option value="Quadro NVS 420" >Quadro NVS 420 </option>
                            <option value="Quadro NVS 440" >Quadro NVS 440 </option>
                            <option value="Quadro P5000" >Quadro P5000 </option>
                            <option value="Quadro RTX 6000" >Quadro RTX 6000 </option>
                            <option value="RTX 2060" >RTX 2060 </option>
                            <option value="RTX 2060 Mobile" >RTX 2060 Mobile </option>
                            <option value="RTX 2060 Super" >RTX 2060 Super </option>
                            <option value="RTX 2070" >RTX 2070 </option>
                            <option value="RTX 2070 Mobile" >RTX 2070 Mobile </option>
                            <option value="RTX 2070 Super" >RTX 2070 Super </option>
                            <option value="RTX 2080" >RTX 2080 </option>
                            <option value="RTX 2080 Super" >RTX 2080 Super </option>
                            <option value="RTX 2080 Ti" >RTX 2080 Ti </option>
                            <option value="Super Jetstream" >Super Jetstream </option>
                            <option value="Tesla C870" >Tesla C870 </option>
                            <option value="Tesla K20c" >Tesla K20c </option>
                            <option value="Tesla K20m" >Tesla K20m </option>
                            <option value="Tesla K40m" >Tesla K40m </option>
                            <option value="Tesla V100" >Tesla V100 </option>
                            <option value="Titan RTX" >Titan RTX </option>
                            <option value="Titan V" >Titan V </option>
                            <option value="Titan X Pascal" >Titan X Pascal </option>
                            <option value="Titan Xp" >Titan Xp </option>
                        </select>
                    </div></td>
                </ng-template>
              
        </table>
        <!-- --------------------------------------------------- -->
          <div class="col-md-6" *ngFor="let info of infoML" style=" margin-bottom: 2%;margin-top: 3%;">
                <div class="card_user" data-aos="fade-left" data-aos-duration="2000">
                  <div class="card" style="border-color: #3e3e3f;   border-radius: 25px;">
                    <div class="card-body text-center">
                      <div class="fondo-img">
                      <a href="{{info.permalink}}">
                        <img class="img-fluid" src="{{info.thumbnail}}">
                      </a>
                    </div>
                  <div style="height: 120px ;width: 400px;">
                      <p class="card-text" style="color: rgb(255, 255, 255);">
                        {{info.title}}
                      </p>
                      <p class="card-text" style="color: rgb(255, 255, 255);">
                          ${{info.price}} MXN
                        </p>
                      </div>
                        <div style="height: 100px;width: 410px;">
                            <button pButton type="button" label="Elegir" class="ui-button-rounded" style="background-color: #33C6FF; border-color:black;" (click)="OnAddBUILD(info.attributes[0].value_name, info.attributes[3].value_name, info.thumbnail, info.title, info.price)"></button>
                          </div>
                      </div>
                  </div>
                </div>
        </div>
    </div>
              </div>
          </div>
        </div>
      </div>
        </section>
        
      
      <!-- 
      -------------------------------- -->