
<body >
  <div class="navbar">
      <div class="container-logo"> 
          <img width="150"style="padding:20px; margin-bottom:-10%;" src="../assets/ebay logos/ecga.png" [routerLink]="['']" routerLinkActive="active">
          <h3 style="color: rgb(255, 255, 255); margin-left:25%;">Inicio</h3>
      </div>
</div>
</body>

<div class="back" style="background-color: #3e3e3f;">
  <div class="row col-md-12" style="padding-left:0%;">
    <table class="table table-hover" style="margin-left: 10%;" *ngFor="let info of projects;let i = index;">
        <thead>
          <tr>
            <th scope="col" style="color: white;">Pedido</th>
            <th scope="col" style="color: white;">Nombre</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
          <td style="color: white;">{{i+1}} </td>
          <td style="color: white;">{{info.titulo}} </td>
          <td>
            <button class="btn btn-primary container-fluid" style="background-color: #9448e0; border-color:#9448e0;"  (click)="confirmar(info.titulo,info.pedido)">Confirmar</button>
          </td>
    </table>
</div>
</div>