.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item-detail {
    height: 18px;
  }
  
  .example-alternate {
    background: rgba(127, 127, 127, 0.3);
  }

  .container-mid-rev{
    height: 30%;
    width: 30%;
  }
  .container-mid{
    height: 30%;
    width: 30%;
    display: flexbox;
    align-content: right;
  }