
<body class="back-nav">
    <div class="navbar">
  
        <div class="container-logo"> 
            <img width="150"style="padding:20px; margin-bottom:-10%;" src="../assets/ebay logos/ecga.png">
        </div>
        
<div class="logo" style="text-align:center">
    
    
  </div>
  <div class="container-crud">
      <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-shopping-cart fa-w-20 fa-2x" [routerLink]="['/cart']" routerLinkActive="active"></i></a>
      <a class="social" style="padding:20px; color: #9448e0;"><i class="fas fa-users fa-w-20 fa-3x" [routerLink]="['/login']" routerLinkActive="active"></i></a>
  </div>

</div>

<div class="container" style="padding: 10px">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-row form-group">
      <div class="col">
        <div><input formControlName="query" type="text" class="form-control" placeholder="Search"></div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" style="background-color: #9448e0; border-color:#9448e0;" >Search</button>
      </div>
    </div>
  </form>
</div>
</body>


<section id="users" class="mt-5 container-proyectos">
  <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 " *ngFor="let info of info">
          <div class="card_user">
            <div class="card" style="
            border-color: rgb(255, 255, 255);">
              <div class="card-body text-center">
                <div class="fondo-img">
                <p>
                  <img class="img-fluid" src="{{info.thumbnail}}">
                </p>
              </div>
            <div style="height: 120px ;width: 400px;">
                <p class="card-text" style="color: rgb(255, 255, 255);">
                  {{info.title}}
                </p>
                <p class="card-text" style="color: rgb(255, 255, 255);">
                    ${{info.price}}
                  </p>
                </div>
                  <div style="height: 100px;width: 410px;">
                      <button pButton type="button" label="Comparar" class="ui-button-rounded" style="background-color: #9448e0; border-color:#9448e0;" (click)="ViewProyecto(projects.Project_id, projects.email)" [routerLink]="['/create']" routerLinkActive="active"></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>